
body {
  background: url(http://silhouettesfree.com/sports/baseball/pitcher-silhouette-image-7.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
